nav {
    color: #FBFBFD;
	height: 70px;
	position: fixed;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav-item {
    font-weight: bold;
    font-style: normal;
}

.nav-link-a {
    color: black;
    text-decoration: none;
}

.nav-button {
    border-radius: 7px;
    background: #fcd247;
    border: none;
    font-weight: bold;
    height: 40px;
    width: 160px;
}


.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}

li {
    margin-left: 15px;
    height: 40px;
}

.div-event {
    width: 70%;
    left: 160px;
    top: 838px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.left-event-container {
    float: left;
	width: 15%;
	padding: 10px;
}

.right-event-container {
    padding: 15px;
    height: 294px;
    width: 1110px;
    left: 160px;
    top: 838px;
    border-radius: 5px;
    margin-left: 15%;
    padding-left: 100px;
}

.img-event {
    width: 150%;
    left: 150px;
    top: 840px;
    border-radius: [object Object]px;

}

h1 {
    margin-left: 15%;
    margin-bottom: 30px;
}

h3 {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.btn-event-details {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0px;
    color: #1b39a5;
    text-align: center;
    background-color: white;
    border: 2px solid #98b1d5;
    border-radius: 7px;
    height: 50px;
    width: 100px;
}

p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

}

.date { 
    font-weight: 900;
}

.body {
	overflow-x: "hidden";
}

.MCCHeaderBg {
	width: 100%;
}

.MCCHeaderDiv {
	position: absolute;
	top: 10%;
	height: 640px;
	width: 62%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.MCCHeaderTitle {
	height: 184px;
	width: 573px;
	left: 30.14%;
	right: 30.07%; 
	font-size: 60px;
	line-height: 84px;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #37426C;

}

.MCCHeaderInnerTextDiv {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 25%;
}

.MCCHeaderAboutDiv {
	width: 533px;
	margin-top: 19px;
	margin-bottom: 28px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 18px;
	text-align: left;
	opacity: 0.6;
	color: #16171B;
}

.btnFixedWidth {
	width: 120px;
	border-radius: 2px;
}

.teamPhotoSetDiv {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.teamPhotoRect {
	width: 100%;
	height: 288px;
	background: #16171B;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	background-clip: border-box;
}

.teamPhoto {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.teamPhotoText {
	width: 180px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	position: relative;
	top: -25px;
	left: 150px;
}

footer {
	width: 180px;
	margin-bottom: 7px;
	text-align: right;
	margin-right: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #ffffff;
}

footer span {
	font-size: 24px;
	font-style: normal;
}

.btnMCCBlue {
	background-color: #0048CC;
}

.ourTeamTitle {
	width: 540px;
	height: 44px;
	margin-left: 160px;
	margin-bottom: 23px;
	font-style: normal;
	font-size: 36px;
	color: #000000;
}

.customFAQButton {
	padding-left: 0px;
	color: black;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 18px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
}

.customFAQButton:hover {
	color: #000000;
}

.customFAQButton:active, .customFAQButton:focus {
	box-shadow: none;
}

.customArrow {
	float: right;
}

.customFAQLink {
	float: left;
}

.customFAQAccordion {
	width: 1110px;
	margin: 0 auto;
}

.customFAQCard {
	border: 0px;
}

.customFAQCardHeader {
	padding-left: 0px;
	background-color: transparent;
}

.customFAQAccordionHeader {
	margin-left: 160px;
	margin-top: 77px;
	margin-bottom: 37px;
	width: 540px;
	height: 44px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 36px;
}

#footer {
	margin-top: 5%;
	bottom: 0;
	clear: both;
	position:relative;
	height: 100px;
	width: 80%;
	margin-left: 15%;
	margin-right: 15%;
}

.social-icon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.footer-link {
	margin-right: 10px;
}

.AboutHeader {
	position: absolute;
	top: 25%;
	height: 640px;
	width: 32%;
	margin-left: 16%;
}

.AboutTitle h1 {
	text-align: left;
	font-weight: bold;
	margin-left: 0;
}

.AboutSocial {
	float: left;
}

.AboutSocial-left {
	margin-right: 200px;
}

.AboutSocial h4 {
	font-weight: bold;
}

.AboutSocial p {
	color: gray;
}

.AboutUsHeader {
	position: absolute;
	width: 100%;
	margin-left: 0;
	top: 110%;
	text-align: center;
	font-size: 42px;
	font-weight: 500;
}

.event-header {
	margin-top: 30px;
	margin-bottom: 30px;
}

.AboutUsCards {
	position: absolute;
	width: 100%;
	top: 140%;
	margin-left: 12%;
}

.card-body h5 {
	left: 7.22%;
	right: 6.84%;
	top: 45.26%;
	bottom: 34.31%;

	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	/* or 140% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #37426C;
}

.card-body .card-text {
	left: 6.08%;
	right: 5.7%;
	top: 68.98%;
	bottom: 9.12%;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #4F4F4F;
}

.card .card-img-top {
	width: 80%;
	margin-left: 15%
}

.card {
	background: #FFFFFF;
	border-radius: 8px;
	padding: 10px;
	height: 320px;
	margin-right: -10%;
}

.row {
	width: 100%;
}

.contact-us {
	width: 100%;
}

.contact-info {
	width: 100%;
}

.form-control {
	width: 100%;
}

.form-container {
	width: 90%;
	padding: 20px;
}

.wrapper {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.form-last {
	margin-right: 0;
}

.form-group {
	margin-bottom: 15px;
}

.form-message {
	height: 200px;
	resize: none;
}

.contact-header{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 18px;
	display: flex;
	align-items: center;
	margin: 10% 10% 20px 11%;
	color: #000000;
}

.btn-send {
	width: 100%;
	background-color: #0048CC;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #0048CC;
}

.contact-info {
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: left;
	padding: 20px;
	color: #16171B;
}

.contact-details {
	margin: 15px;
	margin-left: 0px;
}

.contact-icons {
	margin-right: 16px;
}

.contact-info {
	margin-left: 10%;
}

.footer-container {
	margin-left: 30%;
	width: 80%;
}

.card-img-round {
	height: 222px;
	width: 222px;
	border-radius: 50%;
}

.member-col {
	column-width: 300px;
}

.card-member p {
	text-align: center;
}

.card-member .card-title {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
}

.card-member {
	background: #FFFFFF;
	border-radius: 3px;
	padding: 15px 35px 15px 35px;
	height: 403px;
	margin-right: -10%;
	border: 1px solid #C4C4C4;
	width: 261px;
}

.card-member .card-text {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.member-social-media-icon {
	text-align: center;
}