nav {
    color: #FBFBFD;
	height: 70px;
	position: fixed;
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav-item {
    font-weight: bold;
    font-style: normal;
}

.nav-link-a {
    color: black;
    text-decoration: none;
}

.nav-button {
    border-radius: 7px;
    background: #fcd247;
    border: none;
    font-weight: bold;
    height: 40px;
    width: 160px;
}


.font-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

}

li {
    margin-left: 15px;
    height: 40px;
}

.div-event {
    width: 70%;
    left: 160px;
    top: 838px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.left-event-container {
    float: left;
    width: 13%;
}

.right-event-container {
    padding: 15px;
    height: 294px;
    width: 1110px;
    left: 160px;
    top: 838px;
    border-radius: 5px;
    margin-left: 15%;
    padding-left: 100px;
}

.img-event {
    width: 150%;
    left: 150px;
    top: 840px;
    border-radius: [object Object]px;

}

h1 {
    margin-left: 15%;
    margin-bottom: 30px;
}

h3 {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.btn-event-details {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0px;
    color: #1b39a5;
    text-align: center;
    background-color: white;
    border: 2px solid #98b1d5;
    border-radius: 7px;
    height: 50px;
    width: 100px;
}

p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;

}

.date { 
    font-weight: 900;
}

.body {
	overflow-x: "hidden";
}

.MCCHeaderBg {
	width: 100%;
}

.MCCHeaderDiv {
	position: absolute;
	top: 0px;
	height: 640px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.MCCHeaderTitle {
	height: 184px;
	width: 573px;
	left: 30.14%;
	right: 30.07%;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 60px;
	line-height: 84px;
	text-align: center;
}

.MCCHeaderInnerTextDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.MCCHeaderAboutDiv {
	width: 533px;
	margin-top: 19px;
	margin-bottom: 28px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 18px;
	text-align: center;
	opacity: 0.6;
	color: #16171B;
}

.btnFixedWidth {
	width: "fit-content";
}

.teamPhotoSetDiv {
	width: 100%;
	margin: 0px;
}

.teamPhotoRect {
	width: 100%;
	height: 288px;
	background: #16171B;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	background-clip: border-box;
}

.teamPhoto {
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.teamPhotoText {
	width: 180px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	position: relative;
	top: -25px;
	left: 150px;
}

footer {
	width: 180px;
	margin-bottom: 7px;
	text-align: right;
	margin-right: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #ffffff;
}

footer span {
	font-size: 24px;
	font-style: normal;
}

.btnMCCBlue {
	background-color: #0048CC;
}

.ourTeamTitle {
	width: 540px;
	height: 44px;
	margin-left: 160px;
	margin-bottom: 23px;
	font-style: normal;
	font-size: 36px;
	color: #000000;
}

.customFAQButton {
	padding-left: 0px;
	color: black;
	text-decoration: none;
	font-family: 'Roboto';
	font-size: 18px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
}

.customFAQButton:hover {
	color: #000000;
}

.customFAQButton:active, .customFAQButton:focus {
	box-shadow: none;
}

.customArrow {
	float: right;
}

.customFAQLink {
	float: left;
}

.customFAQAccordion {
	width: 1110px;
	margin: 0 auto;
}

.customFAQCard {
	border: 0px;
}

.customFAQCardHeader {
	padding-left: 0px;
	background-color: transparent;
}

.customFAQAccordionHeader {
	margin-left: 160px;
	margin-top: 77px;
	margin-bottom: 37px;
	width: 540px;
	height: 44px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 36px;
}

#footer {
	margin-top: 5%;
	bottom: 0;
	clear: both;
	position:relative;
	height: 100px;
	width: 100%;
}

.social-icon {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}

.footer-link {
	margin-right: 10px;
}

.AboutHeader {
	position: absolute;
	top: 25%;
	height: 640px;
	width: 32%;
	margin-left: 16%;
}

.AboutTitle h1 {
	text-align: left;
	font-weight: bold;
	margin-left: 0;
}

.AboutSocial {
	float: left;
}

.AboutSocial-left {
	margin-right: 200px;
}

.AboutSocial h4 {
	font-weight: bold;
}

.AboutSocial p {
	color: gray;
}

.calendar-bg {
	background-image: url("/Users/mac/Downloads/Sheridan-Mobile-Computing-Club-Website-main/root/assets/common/img/calendarbackground.png");
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calendar {
	width: 1092px;
}

.calendarMonth {
	padding-top: 120px;
	margin-bottom: 24px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	color: #333333;
}

.calendarBox {
	padding: 0px;
	width: 1092px;
	height: 678px;
}

.calendarWeekdayBox {
	height: 25px;
}

.calendarWeekday {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #333333;
}

.calendarDayBox {
	position: relative;
	height: 130px;
	border: 1px solid #E0E0E0;
}

.calendarDay {
	padding-top: 5px;
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #333333;
}

.fa-chevron-left {
	margin-top: 40px;
	margin-bottom: 80px;
	color: #0048CC;
}

.fa-chevron-right {
	margin-top: 40px;
	margin-bottom: 80px;
	margin-left: 70px;
	color: #0048CC;
}

.pastEvent {
	background: #FFFFFF;
	border-top: 3px solid rgba(22,23,27, 0.4);
	border-left: 3px solid rgba(22,23,27, 0.4);
}

.eventDiv {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
}

.eventFormat {
	text-align: right;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #000000;
}

.eventName {
	text-align: right;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #16171B;
	opacity: 0.7;
}

.todayBox {
	background: #FFD146;
	border: 1px solid #E0E0E0;
}

.activeEvent {
	background: #FFFFFF;
	border-top: 3px solid rgba(0,72,204);
	border-left: 3px solid rgba(0,72,204);
}

.activeEvent .eventName {
	color: #0048CC;
	opacity: 1;
}

.eventSection {
	height: 840px;
	background: #F2F6F9;
}

.eventSectionEvent {
	padding: 90px 165px !important;
}

.eventSectionEventName {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: #000000;
}

.eventInfo {
	padding-top: 50px;
}

.eventImg {
	max-width: 484px;
	max-height: 454px;
}

.eventDateLocation {
	padding-top: 24px;
}

.eventDateLocationRow {
	height: 34px;
}

.eventDateLocationTitle {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #000000
}

.eventTime {
	height: 34px;
	float: right;
}

.joinEventBtnDiv {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.joinEventBtn {
	width: fit-content;
	background-color: #0048CC !important;
    color: white !important;
}


